node_modules/
dist/
build/
.vite/
*.local

__pycache__/
*.pyc
.venv/
.uv/
.ruff_cache/
.pytest_cache/

.env
.env.*
!.env.example

logs/
*.log

.DS_Store
.idea/
.vscode/

airflow/logs/
qdrant_storage/
pg_data/
/fefuone-main